In [6]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline
#train data from (https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/FinalModule_Coursera/data/loan_train.csv)
#test data from (https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/loan_test.csv)

In [7]:
#importing datasets
train_data=pd.read_csv('loan_train.csv')
test_data=pd.read_csv('loan_test.csv')
data_x = train_data[['Principal','terms','age','Gender','education']]
data_y = train_data[['loan_status']]
x_test = test_data[['Principal','terms','age','Gender','education']]
y_test = test_data[['loan_status']]
data_x.head()

   Principal  terms  age  Gender             education
0       1000     30   45    male  High School or Below
1       1000     30   33  female              Bechalor
2       1000     15   27    male               college
3       1000     30   28  female               college
4       1000     30   29    male               college

In [8]:
#conveert categorical features to num 
#1-One Hot encoding for non ordinal data 
data_x=pd.get_dummies(data_x,columns=['education'])
x_test=pd.get_dummies(x_test,columns=['education'])

In [9]:
#2-Label encoder for ordered data
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
encoder.fit(['female','male'])
data_x['Gender']=pd.Series(encoder.transform(data_x['Gender']))
x_test['Gender']=pd.Series(encoder.transform(x_test['Gender']))

In [ ]:
#Scaling
x=data_x.copy()
x_t=x_test.copy()

from sklearn.preprocessing import StandardScaler
StandardScaler().fit(x).transform(x)
StandardScaler().fit(x_t).transform(x_t)

In [11]:
data_y.value_counts()

loan_status
PAIDOFF        260
COLLECTION      86
dtype: int64

In [12]:
#Label encoder for both y train and test 
encodery=LabelEncoder()
encodery.fit(['PAIDOFF','COLLECTION'])
y=encodery.transform(data_y)
y_t=encodery.transform(y_test)

C:\Users\muhmoud\AppData\Local\Programs\Python\Python36-32\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [13]:
#K nearest neighbour 
from sklearn.neighbors import KNeighborsClassifier
 
kn=KNeighborsClassifier(n_neighbors=2).fit(x, y)

In [14]:
test_data.head()

,Unnamed: 0,Unnamed: 0.1,loan_status,Principal,terms,effective_date,due_date,age,education,Gender
0,1,1,PAIDOFF,1000,30,9/8/2016,10/7/2016,50,Bechalor,female
1,5,5,PAIDOFF,300,7,9/9/2016,9/15/2016,35,Master or Above,male
2,21,21,PAIDOFF,1000,30,9/10/2016,10/9/2016,43,High School or Below,female
3,24,24,PAIDOFF,1000,30,9/10/2016,10/9/2016,26,college,male
4,35,35,PAIDOFF,800,15,9/11/2016,9/25/2016,29,Bechalor,male

## K_nearest_neighbours

In [15]:
#Predicting using Kn 
predict_y=kn.predict(x_t)

In [16]:
#Importing evaluation mertices 
from sklearn.metrics import jaccard_score
from sklearn.metrics import f1_score
from sklearn.metrics import log_loss

In [21]:
#Evaluation of Kn
jac=jaccard_score(y_t,predict_y)
print(f" the jaccard_score is : {jac}")
f1=f1_score(y_t,predict_y)
print(f" the F1 score  is : {f1}")
logloss=log_loss(y_t,predict_y)
print(f" the log_loss  score  is : {logloss}")
kn_evaluate=[jac,f1,logloss]

 the jaccard_score is : 0.66
 the F1 score  is : 0.7951807228915662
 the log_loss  score  is : 10.87346656829229

# Decision Tree

In [19]:
from sklearn.tree import DecisionTreeClassifier
tree=DecisionTreeClassifier(criterion="entropy")
tree.fit(x,y)
ytree=tree.predict(x_t)

#x,y for training data
#x_t,y_t for test data

In [23]:
#Evaluation of tree 

jactree=jaccard_score(y_t,ytree)
print(f" the jaccard_score is : {jactree}")
f1tree=f1_score(y_t,ytree)
print(f" the F1 score  is : {f1tree}")
loglosstree=log_loss(y_t,ytree)
print(f" the log_loss  score  is : {loglosstree}")
tree_evaluate=[jactree,f1tree,loglosstree]

 the jaccard_score is : 0.7058823529411765
 the F1 score  is : 0.8275862068965516
 the log_loss  score  is : 9.594267435099859

#  <b><u>SVM</u></b>

In [24]:
from sklearn import svm
svmodel=svm.SVC(kernel='sigmoid')
svmodel.fit(x,y)
ysvm=svmodel.predict(x_t)

### Evaluation of SVM

In [25]:
jacsvm=jaccard_score(y_t,ysvm)
print(f" the jaccard_score is : {jacsvm}")
f1svm=f1_score(y_t,ysvm)
print(f" the F1 score  is : {f1svm}")
loglosssvm=log_loss(y_t,ysvm)
print(f" the log_loss  score  is : {loglosssvm}")
svm_evaluate=[jacsvm,f1svm,loglosssvm]

 the jaccard_score is : 0.7407407407407407
 the F1 score  is : 0.851063829787234
 the log_loss  score  is : 8.95470488690319

# Logistic Regression

In [26]:
from sklearn.linear_model import LogisticRegression
log=LogisticRegression(solver='liblinear')
log.fit(x,y)
ylog=log.predict(x_t)

### Evaluation of logidtic regression

In [32]:
jaclog=jaccard_score(y_t,ylog)
print(f" the jaccard_score is : {jaclog}")
f1log=f1_score(y_t,ylog)
print(f" the F1 score  is : {f1log}")
loglosslog=log_loss(y_t,ylog)
print(f" the log_loss  score  is : {loglosslog}")
log_evaluate=[jaclog,f1log,loglosslog]

 the jaccard_score is : 0.7407407407407407
 the F1 score  is : 0.851063829787234
 the log_loss  score  is : 8.95470488690319

# Report

In [31]:
report=pd.DataFrame({"K_nearest":kn_evaluate,"Decision tree":tree_evaluate,"SVM":svm_evaluate,"Logistic regression":log_evaluate},index=["jaccard_score","f1_score","log_loss"])
report

               K_nearest  Decision tree       SVM  Logistic regression
jaccard_score   0.660000       0.705882  0.740741             0.740741
f1_score        0.795181       0.827586  0.851064             0.851064
log_loss       10.873467       9.594267  8.954705             8.954705