In [57]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline

In [70]:
train_data=pd.read_csv('loan_train.csv')
test_data=pd.read_csv('loan_test.csv')
data_x = train_data[['Principal','terms','age','Gender','education']]
data_y = train_data[['loan_status']]
x_test = test_data[['Principal','terms','age','Gender','education']]
y_test = test_data[['loan_status']]
data_x.head()

   Principal  terms  age  Gender             education
0       1000     30   45    male  High School or Below
1       1000     30   33  female              Bechalor
2       1000     15   27    male               college
3       1000     30   28  female               college
4       1000     30   29    male               college

In [72]:
#conveert categorical features to num 
data_x=pd.get_dummies(data_x,columns=['education'])
x_test=pd.get_dummies(x_test,columns=['education'])

In [71]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
encoder.fit(['female','male'])
data_x['Gender']=pd.Series(encoder.transform(data_x['Gender']))
x_test['Gender']=pd.Series(encoder.transform(x_test['Gender']))

C:\Users\muhmoud\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\muhmoud\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
#Scaling
x=data_x.copy()
x_t=x_test.copy()

from sklearn.preprocessing import StandardScaler
StandardScaler().fit(x).transform(x)
StandardScaler().fit(x_).transform(x_)

In [64]:
data_y.value_counts()

loan_status
PAIDOFF        260
COLLECTION      86
dtype: int64

In [77]:
encodery=LabelEncoder()
encodery.fit(['PAIDOFF','COLLECTION'])
y=encodery.transform(data_y)
y_t=encodery.transform(y_test)

C:\Users\muhmoud\AppData\Local\Programs\Python\Python36-32\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [68]:
#K nearest neighbour 
from sklearn.neighbors import KNeighborsClassifier
 
kn=KNeighborsClassifier(n_neighbors=2).fit(x, y)

In [69]:
test_data.head()

,Unnamed: 0,Unnamed: 0.1,loan_status,Principal,terms,effective_date,due_date,age,education,Gender
0,1,1,PAIDOFF,1000,30,9/8/2016,10/7/2016,50,Bechalor,female
1,5,5,PAIDOFF,300,7,9/9/2016,9/15/2016,35,Master or Above,male
2,21,21,PAIDOFF,1000,30,9/10/2016,10/9/2016,43,High School or Below,female
3,24,24,PAIDOFF,1000,30,9/10/2016,10/9/2016,26,college,male
4,35,35,PAIDOFF,800,15,9/11/2016,9/25/2016,29,Bechalor,male

In [78]:
#Predicting using Kn 
predict_y=kn.predict(x_t)

In [80]:
from sklearn.metrics import jaccard_score
from sklearn.metrics import f1_score
from sklearn.metrics import log_loss

In [86]:
jac=jaccard_score(y_t,predict_y)
print(f" the jaccard_score is : {jac}")
f1=f1_score(y_t,predict_y)
print(f" the F1 score  is : {f1}")
logloss=log_loss(y_t,predict_y)
print(f" the log_loss  score  is : {logloss}")

 the jaccard_score is : 0.66
 the F1 score  is : 0.7951807228915662
 the log_loss  score  is : 10.87346656829229

 the F1 score  is : 0.7951807228915662